#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/bin/nvim;

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoreboth;

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:* -h";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

if [[ -x "$(command -v fzf)" ]] && [[ -f /usr/share/fzf/shell/key-bindings.bash ]]; then
	source /usr/share/fzf/shell/key-bindings.bash
	#export FZF_DEFAULT_OPTS="--height 50% -1 --layout=reverse-list --multi --preview='[[ \$(file --mime {}) =~ binary ]] && echo {} is a binary file || (bat --style=numbers --color=always {} || cat {}) 2> /dev/null | head -300'"
fi

if type rg &> /dev/null; then
	export FZF_DEFAULT_COMMAND='rg'
fi
